.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.890625;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.890625;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.871094;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.937012;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.676270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.117501;font-style:normal;font-weight:normal;visibility:visible;}
.m3{transform:matrix(0.216630,-0.124786,0.124786,0.216630,0,0);-ms-transform:matrix(0.216630,-0.124786,0.124786,0.216630,0,0);-webkit-transform:matrix(0.216630,-0.124786,0.124786,0.216630,0,0);}
.m2{transform:matrix(0.235290,-0.084491,0.084491,0.235290,0,0);-ms-transform:matrix(0.235290,-0.084491,0.084491,0.235290,0,0);-webkit-transform:matrix(0.235290,-0.084491,0.084491,0.235290,0,0);}
.m1{transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-ms-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-webkit-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.ls1{letter-spacing:2.000000px;}
.sc_{text-shadow:none;}
.sc5{text-shadow:-0.015em 0 rgb(83,83,83),0 0.015em rgb(83,83,83),0.015em 0 rgb(83,83,83),0 -0.015em  rgb(83,83,83);}
.sc4{text-shadow:-0.015em 0 rgb(255,192,0),0 0.015em rgb(255,192,0),0.015em 0 rgb(255,192,0),0 -0.015em  rgb(255,192,0);}
.sc0{text-shadow:-0.015em 0 rgb(0,0,0),0 0.015em rgb(0,0,0),0.015em 0 rgb(0,0,0),0 -0.015em  rgb(0,0,0);}
.sc3{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
.sc1{text-shadow:-0.015em 0 rgb(237,125,49),0 0.015em rgb(237,125,49),0.015em 0 rgb(237,125,49),0 -0.015em  rgb(237,125,49);}
.sc2{text-shadow:-0.015em 0 rgb(231,230,230),0 0.015em rgb(231,230,230),0.015em 0 rgb(231,230,230),0 -0.015em  rgb(231,230,230);}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc5{-webkit-text-stroke:0.015em rgb(83,83,83);text-shadow:none;}
.sc4{-webkit-text-stroke:0.015em rgb(255,192,0);text-shadow:none;}
.sc0{-webkit-text-stroke:0.015em rgb(0,0,0);text-shadow:none;}
.sc3{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
.sc1{-webkit-text-stroke:0.015em rgb(237,125,49);text-shadow:none;}
.sc2{-webkit-text-stroke:0.015em rgb(231,230,230);text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-1.048000px;}
._0{width:1.044000px;}
._2{width:24.066000px;}
.fcb{color:rgb(242,242,242);}
.fca{color:rgb(255,0,0);}
.fc1{color:rgb(248,203,173);}
.fc0{color:rgb(0,0,0);}
.fc2{color:rgb(231,230,230);}
.fc4{color:rgb(132,60,11);}
.fc6{color:rgb(255,255,255);}
.fc3{color:rgb(255,192,0);}
.fc5{color:rgb(56,87,36);}
.fc8{color:rgb(91,155,213);}
.fc7{color:rgb(110,116,122);}
.fc9{color:rgb(112,173,71);}
.fs3{font-size:72.000000px;}
.fs6{font-size:74.000000px;}
.fse{font-size:80.000000px;}
.fs2{font-size:96.000000px;}
.fsd{font-size:104.000000px;}
.fsb{font-size:112.000000px;}
.fsa{font-size:114.000000px;}
.fs1{font-size:144.000000px;}
.fsc{font-size:176.000000px;}
.fs5{font-size:192.000000px;}
.fs9{font-size:215.999996px;}
.fs4{font-size:216.000000px;}
.fs0{font-size:240.000000px;}
.fs8{font-size:338.935290px;}
.fs7{font-size:384.000000px;}
.y0{bottom:0.000000px;}
.y19{bottom:41.597336px;}
.y2e{bottom:50.584862px;}
.y15{bottom:57.700867px;}
.y18{bottom:61.037338px;}
.y2d{bottom:72.184860px;}
.y17{bottom:80.477333px;}
.y14{bottom:83.620872px;}
.y3d{bottom:90.178314px;}
.y2c{bottom:93.784859px;}
.y16{bottom:99.917332px;}
.y2b{bottom:115.384857px;}
.y3c{bottom:123.778320px;}
.yc{bottom:125.921505px;}
.y26{bottom:129.545300px;}
.y27{bottom:130.322151px;}
.y2a{bottom:136.984856px;}
.y32{bottom:142.835526px;}
.y33{bottom:145.166077px;}
.yb{bottom:147.521507px;}
.y24{bottom:151.145298px;}
.y25{bottom:151.922150px;}
.y3b{bottom:157.378334px;}
.ya{bottom:169.121510px;}
.y23{bottom:172.745298px;}
.y21{bottom:172.796215px;}
.y22{bottom:173.522148px;}
.y45{bottom:179.517517px;}
.y3a{bottom:190.978333px;}
.y4{bottom:197.397190px;}
.y44{bottom:201.117516px;}
.y11{bottom:211.144333px;}
.y1f{bottom:219.921452px;}
.y20{bottom:220.698303px;}
.y13{bottom:220.864334px;}
.y39{bottom:224.578331px;}
.y10{bottom:230.584328px;}
.y12{bottom:240.304329px;}
.y1e{bottom:241.521452px;}
.y1c{bottom:241.572369px;}
.y3{bottom:241.957191px;}
.y1d{bottom:242.298302px;}
.y36{bottom:244.684412px;}
.y37{bottom:247.275055px;}
.y49{bottom:247.857786px;}
.yf{bottom:250.024326px;}
.y38{bottom:258.178335px;}
.y9{bottom:265.057205px;}
.y41{bottom:283.998632px;}
.y47{bottom:287.314590px;}
.y8{bottom:293.857208px;}
.y1{bottom:295.782043px;}
.y2{bottom:298.660538px;}
.y34{bottom:299.572812px;}
.y35{bottom:302.163452px;}
.y46{bottom:308.914589px;}
.y31{bottom:312.041519px;}
.y7{bottom:322.657211px;}
.y30{bottom:333.641518px;}
.y29{bottom:349.300430px;}
.y43{bottom:350.728134px;}
.y6{bottom:351.457214px;}
.ye{bottom:359.883221px;}
.y42{bottom:372.328133px;}
.y40{bottom:374.366615px;}
.y5{bottom:380.257215px;}
.y3f{bottom:426.206627px;}
.yd{bottom:448.864262px;}
.y28{bottom:452.980431px;}
.y1a{bottom:455.603840px;}
.y2f{bottom:457.776558px;}
.y1b{bottom:458.194481px;}
.y48{bottom:458.355228px;}
.y3e{bottom:478.046631px;}
.h4{height:47.988281px;}
.h5{height:49.218750px;}
.h8{height:49.886719px;}
.ha{height:57.957031px;}
.h3{height:63.984375px;}
.h13{height:72.058594px;}
.h10{height:74.648438px;}
.hf{height:89.285156px;}
.h2{height:95.976562px;}
.h12{height:117.304688px;}
.h7{height:127.968750px;}
.he{height:143.964841px;}
.h9{height:143.964844px;}
.h11{height:145.747768px;}
.hd{height:146.812500px;}
.h6{height:147.656250px;}
.h1{height:159.960938px;}
.hc{height:225.901695px;}
.hb{height:270.375000px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x1a{left:-20.927637px;}
.x19{left:-18.336996px;}
.x1c{left:-1.217585px;}
.x0{left:0.000000px;}
.x1b{left:1.373057px;}
.x16{left:7.200012px;}
.x1f{left:53.408974px;}
.x6{left:67.037086px;}
.x7{left:68.391899px;}
.x5{left:73.199997px;}
.x11{left:75.790654px;}
.x17{left:106.065674px;}
.x18{left:128.565674px;}
.x12{left:177.000529px;}
.x8{left:193.110397px;}
.x14{left:194.731822px;}
.x13{left:199.551447px;}
.x15{left:217.282740px;}
.x9{left:264.286148px;}
.xb{left:268.911148px;}
.xa{left:271.973648px;}
.xe{left:281.786140px;}
.x2{left:355.211273px;}
.x1{left:358.089767px;}
.x4{left:361.568695px;}
.x1d{left:460.692627px;}
.x3{left:482.693695px;}
.xc{left:506.630478px;}
.xf{left:514.505478px;}
.x10{left:528.255478px;}
.xd{left:563.255478px;}
.x21{left:608.991089px;}
.x1e{left:638.550136px;}
.x20{left:806.275024px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ls1{letter-spacing:2.666667pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-1.397333pt;}
._0{width:1.392000pt;}
._2{width:32.088000pt;}
.fs3{font-size:96.000000pt;}
.fs6{font-size:98.666667pt;}
.fse{font-size:106.666667pt;}
.fs2{font-size:128.000000pt;}
.fsd{font-size:138.666667pt;}
.fsb{font-size:149.333333pt;}
.fsa{font-size:152.000000pt;}
.fs1{font-size:192.000000pt;}
.fsc{font-size:234.666667pt;}
.fs5{font-size:256.000000pt;}
.fs9{font-size:287.999994pt;}
.fs4{font-size:288.000000pt;}
.fs0{font-size:320.000000pt;}
.fs8{font-size:451.913720pt;}
.fs7{font-size:512.000000pt;}
.y0{bottom:0.000000pt;}
.y19{bottom:55.463114pt;}
.y2e{bottom:67.446482pt;}
.y15{bottom:76.934489pt;}
.y18{bottom:81.383118pt;}
.y2d{bottom:96.246480pt;}
.y17{bottom:107.303111pt;}
.y14{bottom:111.494497pt;}
.y3d{bottom:120.237752pt;}
.y2c{bottom:125.046478pt;}
.y16{bottom:133.223109pt;}
.y2b{bottom:153.846476pt;}
.y3c{bottom:165.037760pt;}
.yc{bottom:167.895340pt;}
.y26{bottom:172.727066pt;}
.y27{bottom:173.762868pt;}
.y2a{bottom:182.646474pt;}
.y32{bottom:190.447367pt;}
.y33{bottom:193.554769pt;}
.yb{bottom:196.695343pt;}
.y24{bottom:201.527064pt;}
.y25{bottom:202.562866pt;}
.y3b{bottom:209.837779pt;}
.ya{bottom:225.495346pt;}
.y23{bottom:230.327065pt;}
.y21{bottom:230.394953pt;}
.y22{bottom:231.362864pt;}
.y45{bottom:239.356689pt;}
.y3a{bottom:254.637777pt;}
.y4{bottom:263.196253pt;}
.y44{bottom:268.156687pt;}
.y11{bottom:281.525777pt;}
.y1f{bottom:293.228602pt;}
.y20{bottom:294.264404pt;}
.y13{bottom:294.485779pt;}
.y39{bottom:299.437775pt;}
.y10{bottom:307.445770pt;}
.y12{bottom:320.405772pt;}
.y1e{bottom:322.028603pt;}
.y1c{bottom:322.096491pt;}
.y3{bottom:322.609589pt;}
.y1d{bottom:323.064402pt;}
.y36{bottom:326.245882pt;}
.y37{bottom:329.700074pt;}
.y49{bottom:330.477048pt;}
.yf{bottom:333.365768pt;}
.y38{bottom:344.237780pt;}
.y9{bottom:353.409607pt;}
.y41{bottom:378.664842pt;}
.y47{bottom:383.086121pt;}
.y8{bottom:391.809611pt;}
.y1{bottom:394.376058pt;}
.y2{bottom:398.214050pt;}
.y34{bottom:399.430416pt;}
.y35{bottom:402.884603pt;}
.y46{bottom:411.886119pt;}
.y31{bottom:416.055359pt;}
.y7{bottom:430.209615pt;}
.y30{bottom:444.855357pt;}
.y29{bottom:465.733907pt;}
.y43{bottom:467.637512pt;}
.y6{bottom:468.609619pt;}
.ye{bottom:479.844294pt;}
.y42{bottom:496.437510pt;}
.y40{bottom:499.155487pt;}
.y5{bottom:507.009621pt;}
.y3f{bottom:568.275503pt;}
.yd{bottom:598.485682pt;}
.y28{bottom:603.973907pt;}
.y1a{bottom:607.471786pt;}
.y2f{bottom:610.368744pt;}
.y1b{bottom:610.925975pt;}
.y48{bottom:611.140305pt;}
.y3e{bottom:637.395508pt;}
.h4{height:63.984375pt;}
.h5{height:65.625000pt;}
.h8{height:66.515625pt;}
.ha{height:77.276042pt;}
.h3{height:85.312500pt;}
.h13{height:96.078125pt;}
.h10{height:99.531250pt;}
.hf{height:119.046875pt;}
.h2{height:127.968750pt;}
.h12{height:156.406250pt;}
.h7{height:170.625000pt;}
.he{height:191.953121pt;}
.h9{height:191.953125pt;}
.h11{height:194.330357pt;}
.hd{height:195.750000pt;}
.h6{height:196.875000pt;}
.h1{height:213.281250pt;}
.hc{height:301.202260pt;}
.hb{height:360.500000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x1a{left:-27.903516pt;}
.x19{left:-24.449328pt;}
.x1c{left:-1.623447pt;}
.x0{left:0.000000pt;}
.x1b{left:1.830743pt;}
.x16{left:9.600016pt;}
.x1f{left:71.211965pt;}
.x6{left:89.382782pt;}
.x7{left:91.189199pt;}
.x5{left:97.599996pt;}
.x11{left:101.054205pt;}
.x17{left:141.420898pt;}
.x18{left:171.420898pt;}
.x12{left:236.000706pt;}
.x8{left:257.480530pt;}
.x14{left:259.642430pt;}
.x13{left:266.068596pt;}
.x15{left:289.710320pt;}
.x9{left:352.381531pt;}
.xb{left:358.548197pt;}
.xa{left:362.631531pt;}
.xe{left:375.714854pt;}
.x2{left:473.615031pt;}
.x1{left:477.453023pt;}
.x4{left:482.091593pt;}
.x1d{left:614.256836pt;}
.x3{left:643.591593pt;}
.xc{left:675.507304pt;}
.xf{left:686.007304pt;}
.x10{left:704.340637pt;}
.xd{left:751.007304pt;}
.x21{left:811.988118pt;}
.x1e{left:851.400181pt;}
.x20{left:1075.033366pt;}
}
